.heading{
    width:100%;
    margin:0px;
    font-size:23px;
    box-shadow: 5px 5px 5px gray;
}

.note{
    color:rgb(120, 24, 43);
    font-size:17px;

}

.copy_right_footer{
    position: fixed;
    bottom:0;
    width:100%;
    background-color:maroon;
    color:white;
    text-align: center;
    line-height:2;
}

canvas{
    border-radius:9px;
    border:5px solid navy ;
    box-shadow:5px 5px 5px gray;
}